*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 81, 88, 0.477);
    gap:    30px;
}

#first{
    padding: 10ox;
    height: 300px;
    width: 200px;
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7PX;
    background-color: white;
    box-shadow: 10px 2px 30px rgb(104, 111, 77);
}

#first p{
    text-align: center;
}
#first img{
    height: 150px;
    width:  200px;
    border-radius: 7PX;
}

#first button{
    color: white;
    margin-top: 10px;
    height: 40px;
    width: 140PX;
    border-radius: 7PX;
    border: none;
    background-color: rgb(17, 10, 210);
    transition: background-color 0.3s ease;
}

#first button:hover{
    color: black;
    background-color: rgb(213, 219, 216);
    cursor: pointer;
}